#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.search-map-panel, .map-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-map-panel .select {
    width: 30%;
    max-width: 300px;
}

.search-map-panel .input {
    width: 55%;
}

.partner-branch-map {
    width: 75%;
}

.partner-branch-aside {
    width: 20%;
}

.branches-wrapper {
    width: 100%;
    height: 300px;
    background: #fafafa;
    overflow-y: scroll;
}